// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
main section.products-index,
.products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
        // flex:      1;
        max-width: 260px;
        // so that footer within can be positioned absolutely
         position:  relative;

        border:        1px solid #ccc;
        border-radius: 5px;
        padding:       15px;
        padding-bottom: 80px;
        margin-top:    20px;
    }
    footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }
}
